input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  padding right: 5px;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* #mybutton{
  text-align: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
  background-color: darkslategray;
  color: whitesmoke;
  cursor: pointer;
  padding-top: 10px;
  padding: 10px;
  margin: auto;
  border: none;
  outline: none;
  font-size: 12px;
  position: relative;
}

#mybutton:hover {
  background-color:#808080;
} */

.container {
  max-width: 60%;
  margin: auto;
  position: relative;
  border-radius: 5px;
  background-color: whitesmoke;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 768px) {
  .col-25, .col-75, input[type=submit] {
    width: 90%;
    margin: auto;
  }
  #mybutton{
    width:100%;
  }
}